body {
  background-color: rgb(148, 72, 188);
}

#firstPicture {
  background-color: blueviolet;
}

#secondPicture {
  background-color: rgb(32, 209, 194);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(73, 5, 90);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
